.TmLogin {
    width: 600px;
    height: 371px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -185px;

    &__Shadow {
        display: block;
        width: 705px;
        height: 500px;
        background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
        position: absolute;
        transform: rotate(-31.5deg);
        top: 147px;
        left: 77px;
        z-index: 0
    }

    &__Form {
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4)),   url('/public/images/fon.png');
        width: 600px;
        height: 371px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        z-index: 1
        border: 1px solid #D8D8D8;
        text-align center

    }

}
