.input_size-S {
    input_skin_base-mixin($height = 26px)
}

.input_size-M {
    input_skin_base-mixin($height = 30px)
}

.input_size-L {
    input_skin_base-mixin($height = 34px)
}

.input_size-XL {
    input_skin_base-mixin($height = 38px)
}
