.chart {

    &__view {

        svg {
            font: 10px sans-serif;
            width: 100%;
        }

        .chart__focus {
            .area {
                stroke: #EEEEEE;
            }
        }
        .area {
            fill: #7cb342;
        }

        .axis path, .axis line {
            fill: none;
            stroke: #212121;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-weight: 700;
            color: #212121;
        }

        .brush .extent {
            /*stroke: #EEEEEE;*/
            fill-opacity: .3;
        }

    }

    &__days {
        width: 100%;
        height: 50px;
        padding: 0 40px;
        box-sizing: border-box;
    }

}

@css {
    .chart__view .area {
        clip-path: url("#clip");
        fill: url("#lineGradient");
    }
}
