.error-message {
    position: relative;
    margin: 0;
    line-height: 16px;

    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #ffeede;
    text-align: left;
    color: #000;

    &__title {
        font-size: 130%;
        margin: 10px 0;
    }
}
